.hero {
    display: flex;
}

.hero-left {
    height: 200px;
    max-width: 500px;
    margin: 160px 200px 0 200px;
    padding: 3.125rem 3.125rem 0 3.125rem;
    flex: 1;
    text-align: center;
    display: flex;
    box-shadow: 0px 0px 20px 4px rgba(18, 25, 41, 0.4);
    border-radius: 50px;
    transition: transform 0.4s ease-out;
}

.hero-left:hover {
    transform: scale(1.05);
}

@media (max-width: 1400px) {
    .hero-left {
        margin: 160px 140px 0 40px;
    }
}

.hero-left-image {
    margin-right: 30px;
    height: 9.4rem;
    width: 9.4rem;
    border-radius: 50%;
    object-fit: cover;
}

.hero-left-content {
    text-align: left;
    color: #3768ff;
}

.hero-left-content>* {
    margin: 15px 0 15px 0;
}

.hero-right-back {
    position: relative;
    height: 500px;
}

.hero-right-front {
    position: absolute;
    top: 100px;
    right: 160px;
    height: 320px;
    z-index: 1;
}

.course {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 4rem 1rem 2rem 1rem;
    align-items: center;
}

.course-main {
    padding: 3.75rem;
    background: linear-gradient(271.34deg, #2b5eff 3.58%, #48bdff 98.86%);
    box-shadow: 0px 0px 2.5rem rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    text-align: center;
    margin-bottom: 2rem;
}

.course-bonus {
    text-align: center;
    margin-bottom: 4rem;
}

.course-main h1 {
    margin-top: 0;
    letter-spacing: 6px;
    color: white;
    font-weight: 500;
    font-size: 2.375rem;
}

.course-bonus h1 {
    margin-top: 2rem;
    letter-spacing: 6px;
    color: #2b5eff;
    font-weight: 500;
    font-size: 2.375rem;
}

.plus {
    width: 10rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    gap: 4rem;
}

.card-link {
    text-decoration: none;
    color: black;
    transition: transform 0.4s ease-out;
}

.card-link:active {
    color: black;
}

.card-link:hover {
    transform: scale(1.05);
}

.card-image {
    border-radius: 1.875rem 1.875rem 0 0;
    height: 8rem;
    width: 12rem;
}

.card-description {
    margin: 0 0 0.2rem 0;
    font-size: 0.8rem;
}

.card-title {
    margin: 0.6rem 0 0.8rem 0;
    font-size: 1.1rem;
}

.bottom {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.bottom-fb {
    width: 25rem;
    transition: transform 0.4s ease-out;
    cursor: pointer;
}

.bottom-fb:hover {
    transform: scale(1.05);
}


/* .bottom-social {
    flex: 0.3;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 2rem;
} */

@media (max-width: 1100px) {
    .hero-left {
        margin: auto;
        margin-top: 160px;
    }
    .hero-right {
        display: none;
    }
    .course {
        flex-direction: column;
    }
    .plus {
        width: 6rem;
    }
}

@media (max-width: 800px) {
    .hero-left {
        height: 160px;
        max-width: 400px;
    }
}

@media (max-width: 550px) {
    .hero-left {
        height: 140px;
        max-width: 340px;
        margin: 100px 30px 20px 30px;
    }
}

@media (max-width: 400px) {
    .course-main {
        padding: 2rem;
    }
}