.home-nav {
    background-image: linear-gradient(270deg, #3768ff 0%, #7021ff 100%);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.home-nav-logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    margin-left: 10rem;
}

.home-nav-icon {
    cursor: pointer;
    display: none;
    margin-right: 6rem;
}

.home-nav-menu {
    display: flex;
    gap: 1rem;
    margin-right: 10rem;
}

.home-nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.4s ease-in-out;
}

.home-nav-link:hover {
    border-radius: 50px;
    background-color: #7577fa;
}

.home-nav-login {
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 2rem;
    background-color: #fff;
    color: #3768ff;
    border-radius: 50px;
}

.fas {
    color: #fff;
}

@media screen and (max-width: 900px) {
    .home-nav-icon {
        display: block;
        font-size: 2rem;
    }
    .home-nav-menu {
        padding: 10px 0;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        transform: translateY(-360px);
        opacity: 0;
        transition: all 0.4s ease;
        text-align: center;
        z-index: 10;
    }
    .home-nav-menu.active {
        background-color: #6668f4;
        transform: translateY(0);
        opacity: 1;
    }
    .home-nav-link {
        font-size: 2rem;
        margin: 0 2rem;
    }
    .home-nav-link:hover {
        border-radius: 5px;
    }
    .home-nav-login {
        margin: 0 8rem;
        font-size: 2rem;
        border-radius: 5px;
    }
}

.home-header {
    display: flex;
    padding: 6rem 10rem;
    justify-content: space-between;
    gap: 6rem;
    align-items: center;
    background-image: linear-gradient( 180deg, #8097ff 0%, #9faeff 50%, #bfc0fd 100%);
}

.home-form {
    width: 320px;
    height: 400px;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
}

.form-container input {
    width: 100%;
    color: #595f6e;
    padding-top: 25px;
    border: none;
    outline: none;
}

.form-container {
    position: relative;
    margin-top: 20px;
    overflow: hidden;
}

.form-container label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #000;
}

.form-container label::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2.6px;
    width: 100%;
    border-top: 4px solid #3768ff;
    transform: translateX(-100%);
    transition: all 0.4s ease;
}

.form-name {
    position: absolute;
    bottom: 4px;
    left: 0;
    transition: all 0.4s ease;
}

.form-container input:focus+.form-label .form-name,
.form-container input:valid+.form-label .form-name {
    transform: translateY(-100%);
    font-size: 0.8rem;
}

.form-container input:focus+.form-label::after,
.form-container input:valid+.form-label::after {
    transform: translateY(0);
}

@media screen and (max-width: 1200px) {
    .home-header {
        flex-direction: column;
    }
    .home-nav-logo {
        margin-left: 6rem;
    }
    .home-nav-menu {
        margin-right: 6rem;
    }
    .home-header {
        padding: 6rem 6rem;
    }
}

.testi-img {
    width: 20px;
    height: 20px;
}