.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.nav-logo {
    padding-left: 6rem;
    font-size: 1.5rem;
    /* flex: 0.2; */
}

.nav-items {
    flex: 0.4;
    display: flex;
    justify-content: space-around;
    z-index: 1002;
}

@media (max-width: 1100px) {
    .nav-items {
        flex: 0.58;
    }
}

.nav-item {
    font-size: 1.375rem;
    text-decoration: none;
    color: black;
}

.nav-active {
    border-bottom: 0.2rem solid #3768ff;
}

.nav-logout {
    padding-right: 4rem;
    z-index: 1001;
}