.footer {
    padding: 3rem 6rem;
    color: #a2aed2;
    background-color: #071541;
    text-align: center;
}

.footer h2 {
    font-size: 1rem;
    font-weight: 200;
}

.footer-logos {
    display: flex;
    justify-content: center;
}

.logo {
    color: #a2aed2;
    margin: 0 20px;
    font-size: 2rem;
    transition: all 0.3s;
}

.logo:hover {
    color: #3768ff;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-top a {
    font-size: 0.8rem;
    color: #a2aed2;
    text-decoration: none;
}

.footer-logo {
    font-size: 1.6rem;
}

.footer-content {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

@media (max-width: 550px) {
    .footer-top {
        flex-direction: column;
        gap: 2rem;
    }
    .footer-content {
        justify-content: center;
        gap: 2rem;
    }
}