.course-page {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.course-link {
    margin: 1rem 5rem;
    font-size: 1.4rem;
    text-decoration: none;
    width: 100%;
    color: #3768ff;
}

.course-main-container {
    margin: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.course-list {
    padding: 1rem 2rem;
    background: linear-gradient(90deg, #3768ff 7.46%, #547eff 82.34%);
    border-radius: 50px;
}

.player {
    width: 840px;
    height: 480px;
}