html {
    font-size: 16px;
}

@media (max-width: 800px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 550px) {
    html {
        font-size: 10px;
    }
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::selection {
    background-color: #3768ff;
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #3768ff;
}